venv/
.env
collector.log
export_news.py
exported_news.csv
notificator.log
README.md
requirements.txt
trading_bg.png
__pycache__/app.cpython-310.pyc
__pycache__/app.cpython-311.pyc
__pycache__/collector.cpython-310.pyc
__pycache__/collector.cpython-311.pyc
__pycache__/models.cpython-310.pyc
__pycache__/models.cpython-311.pyc
__pycache__/notificator.cpython-310.pyc
__pycache__/notificator.cpython-311.pyc
tests/test_api.py
tests/__pycache__/test_api.cpython-311-pytest-8.3.5.pyc
